<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<title>Talana</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta name="robots" content="none" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="https://seantheme.com/color-admin/admin/assets/css/default/app.min.css" rel="stylesheet" />
	<style>
		.sm-hidden {
			display: none;
		}

		@media screen and (min-width: 460px) {
			.sm-hidden {
				display: inline-block;
			}
		}
	</style>
</head>

<body class="pace-top">
	<div id="page-container" class="fade show">
		<div class="error">
			<div class="error-code">{{ py_name }}</div>
			<div class="error-content">
				<div class="error-message">
					<span role="emoji" aria-label=":(" class="sm-hidden"></span>
					Bienvenido
					<span role="emoji" aria-label=":(" class="sm-hidden"></span>
				</div>
				<div class="error-desc mb-3 mb-sm-4 mb-md-5">
				</div>
				<div>
					<a href="/prueba/api/v1/" class="btn btn-primary">
						Directorio de API's
					</a> 
					&nbsp;
					<a href="/admin" class="btn btn-primary">
						Administrador
					</a>
					&nbsp;
					<a href="/swagger/" class="btn btn-primary">
						Documentación
					</a> 
				</div>
			</div>
		</div>
	</div>

</body>

</html>